name: CI

on:
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: JDK 17 설치
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: .env 파일 생성
        run: |
          
          # .env 파일 생성
          touch .env
          
          # .env 파일 작성
          echo "${{ secrets.ENV_FILE }}" >> .env
          
          chmod 600 .env

        shell: bash

      - name: 테스트용 pem키 생성
        run: |
          
          mkdir ./src/main/resources/keys
          
          touch ./src/main/resources/keys/jwt-public.pem
          echo "${{ secrets.JWT_PUBLIC_TEST_PEM }}" >> ./src/main/resources/keys/jwt-public.pem
          chmod 600 ./src/main/resources/keys/jwt-public.pem
          
          touch ./src/main/resources/keys/jwt-private.pem
          echo "${{ secrets.JWT_PRIVATE_TEST_PEM }}" >> ./src/main/resources/keys/jwt-private.pem
          chmod 600 ./src/main/resources/keys/jwt-private.pem

        shell: bash

      - name: build 실행
        run: |
          chmod +x gradlew
          ./gradlew clean build
        shell: bash

      - name: clean
        run: |
          rm .env
          rm -rf ./src/main/resources/keys
        shell: bash